pkgbase = plasma6-applets-apdatifier
	pkgdesc = KDE Plasma widget that tracks updates for ArchLinux, Plasma Widgets, and Flatpak, providing notifications for new ones.
	pkgver = 2.9.8
	pkgrel = 1
	url = https://github.com/exequtic/apdatifier
	arch = any
	license = MIT
	makedepends = kpackage
	depends = kitemmodels
	depends = ksvg
	depends = qt6-declarative
	depends = libplasma
	depends = kirigami
	depends = knotifications
	depends = plasma5support
	depends = kcmutils
	depends = kdeclarative
	depends = kiconthemes
	depends = qt6-5compat
	depends = bash
	optdepends = yay: For AUR updates support
	optdepends = paru: For AUR updates support
	optdepends = pikaur: For AUR updates support
	optdepends = flatpak: For Flatpak updates support
	optdepends = fwupd: For Firmware updates support
	optdepends = jq: For KDE Widgets updates and News
	optdepends = tmux: For upgrade and management in a terminal multiplexer
	optdepends = fzf: For interactive package selection in management
	provides = plasma6-applets-apdatifier
	conflicts = plasma6-applets-apdatifier-bin
	conflicts = plasma6-applets-apdatifier-git
	source = apdatifier-2.9.8.tar.gz::https://github.com/exequtic/apdatifier/archive/refs/tags/2.9.8.tar.gz
	sha256sums = 6a0901d63f758d26abf0cf5328ca3ba4e54ed0e02b1078e12fc0e44d25b7ac6a

pkgname = plasma6-applets-apdatifier
