pkgbase = plasma6-applets-apdatifier
	pkgdesc = KDE Plasma widget that tracks updates for ArchLinux, Plasma Widgets, and Flatpak, providing notifications for new ones.
	pkgver = 2.9.7.1
	pkgrel = 1
	url = https://github.com/exequtic/apdatifier
	arch = any
	license = MIT
	makedepends = kpackage
	depends = kitemmodels
	depends = ksvg
	depends = qt6-declarative
	depends = libplasma
	depends = kirigami
	depends = knotifications
	depends = plasma5support
	depends = kcmutils
	depends = kdeclarative
	depends = kiconthemes
	depends = qt6-5compat
	depends = bash
	optdepends = yay: For AUR updates support
	optdepends = paru: For AUR updates support
	optdepends = pikaur: For AUR updates support
	optdepends = flatpak: For Flatpak updates support
	optdepends = fwupd: For Firmware updates support
	optdepends = jq: For KDE Widgets updates and News
	optdepends = tmux: For upgrade and management in a terminal multiplexer
	optdepends = fzf: For interactive package selection in management
	provides = plasma6-applets-apdatifier
	conflicts = plasma6-applets-apdatifier-bin
	conflicts = plasma6-applets-apdatifier-git
	source = apdatifier-2.9.7.1.tar.gz::https://github.com/exequtic/apdatifier/archive/refs/tags/2.9.7.1.tar.gz
	source = fixsysteminstallation.patch
	sha256sums = eb34723147e157e050583d0186081ce6955103715815addae088c7da3b82a0f6
	sha256sums = d780f82c309db94a3e800acfadf2720e26445675b415524e5dfc3c3aaa5c1125

pkgname = plasma6-applets-apdatifier
