pkgbase = pkgmgr
	pkgdesc = A simple package manager for arch linux using fzf.
	pkgver = 1
	pkgrel = 1
	arch = any
	depends = bash
	depends = fzf
	depends = pacman-contrib
	optdepends = xclip: For X11 copy to clipboard
	optdepends = wl-copy: For Wayland Copy to clipboard
	source = pkgmgr
	source = pkgmgr.desktop
	sha256sums = a4232613e0eee2a0b7572305e018323b3c401e6e9c9d37ea6e4001b38ff55e69
	sha256sums = 93caa3f225a3e191b5c2534303c711ea586a95898a741f7fbc3300a5e8cc0c11

pkgname = pkgmgr
