pkgbase = pkgmgr
	pkgdesc = A simple package manager for arch linux using fzf.
	pkgver = 1
	pkgrel = 1
	arch = any
	depends = bash
	depends = fzf
	depends = pacman-contrib
	optdepends = xclip: For X11 copy to clipboard
	optdepends = wl-copy: For Wayland Copy to clipboard
	source = pkgmgr
	source = pkgmgr.desktop
	sha256sums = 91b83717012e90d64202910970de653ec78d61fba125fe948e526d1ab70a7a2a
	sha256sums = 93caa3f225a3e191b5c2534303c711ea586a95898a741f7fbc3300a5e8cc0c11

pkgname = pkgmgr
