pkgbase = pkgmgr
	pkgdesc = A simple package manager for arch linux using fzf.
	pkgver = 1
	pkgrel = 1
	arch = any
	depends = bash
	depends = fzf
	depends = pacman-contrib
	optdepends = xclip: For X11 copy to clipboard
	optdepends = wl-copy: For Wayland Copy to clipboard
	source = pkgmgr
	source = pkgmgr.desktop
	sha256sums = 6d7f01416969cb9f6b0a6e2374656a8f572d7606dc525663c9fd16ac18798666
	sha256sums = 93caa3f225a3e191b5c2534303c711ea586a95898a741f7fbc3300a5e8cc0c11

pkgname = pkgmgr
