pkgbase = plasma6-applets-nepali-calendar
	pkgdesc = Nepali Calendar — A KDE Plasma widget (plasmoid) displaying the Nepali Bikram Sambat calendar with month navigation and panel integration.
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/SATYADAHAL/nepali-calendar
	arch = any
	license = GPL-3.0-only
	makedepends = kpackage
	depends = qt6-declarative
	depends = libplasma
	depends = kirigami
	provides = plasma6-applets-nepali-calendar
	conflicts = plasma6-applets-nepali-calendar-bin
	conflicts = plasma6-applets-nepali-calendar-git
	source = nepali-calendar-1.3.0.tar.gz::https://github.com/SATYADAHAL/nepali-calendar/archive/refs/tags/v1.3.0.tar.gz
	sha256sums = f0d1d1da9e0885315d3f69f5d6a29940e251b706faed4d0dd368f3f8a378822b

pkgname = plasma6-applets-nepali-calendar
