pkgbase = elyprismlauncher
	pkgdesc = This fork of Prism Launcher adds integrated support for Ely.by accounts (MSA accounts can still be used). This is not endorsed by Prism Launcher or Ely.by.
	pkgver = 9.1
	pkgrel = 1
	url = https://github.com/Octol1ttle/ElyPrismLauncher
	arch = x86_64
	license = GPL-3.0-only AND LGPL-3.0-or-later AND LGPL-2.0-or-later AND Apache-2.0 AND MIT AND LicenseRef-Batch AND OFL-1.1
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = jdk17-openjdk
	makedepends = scdoc
	makedepends = ghc-filesystem
	makedepends = gamemode
	depends = glibc
	depends = gcc-libs
	depends = java-runtime
	depends = libgl
	depends = qt6-base
	depends = qt6-5compat
	depends = qt6-svg
	depends = qt6-imageformats
	depends = qt6-networkauth
	depends = quazip-qt6
	depends = zlib
	depends = hicolor-icon-theme
	depends = tomlplusplus
	depends = cmark
	optdepends = glfw: to use system GLFW libraries
	optdepends = openal: to use system OpenAL libraries
	optdepends = visualvm: Profiling support
	optdepends = xorg-xrandr: for older minecraft versions
	optdepends = flite: minecraft voice narration
	provides = prismlauncher
	conflicts = prismlauncher
	source = https://github.com/Octol1ttle/ElyPrismLauncher/releases/download/9.1/ElyPrismLauncher-9.1.tar.gz
	sha256sums = c8a2af019b048da979a6f3897d30064cb8f30544e91a9a0e4e80d4b7e7d851e2

pkgname = elyprismlauncher
