pkgbase = paccache-hook-pkg
	pkgdesc = A Pacman hook to keep 3 latest version of pkgs.
	pkgver = 1
	pkgrel = 1
	arch = any
	license = GPL
	depends = pacman-contrib
	source = paccache-hook-pkg.hook
	sha256sums = e372cc940c9896851626ba08d41ce653f9555a065ed07289d6e75440b588bdb2

pkgname = paccache-hook-pkg
