pkgbase = kwin-scripts-fluid-tile
	pkgdesc = A script for Kwin that auto adjusts windows to the custom KDE Plasma tiling layout by creating and removing virtual desktops.
	pkgver = 6.1
	pkgrel = 1
	url = https://codeberg.org/Serroda/fluid-tile
	arch = any
	license = unknown
	makedepends = kpackage
	depends = kwin
	depends = qt6-declarative
	source = fluid-tile.tar.gz::https://codeberg.org/Serroda/fluid-tile/archive/v6.1.tar.gz
	sha256sums = c66d258139ae9c97583e5baa50fb831a4bfdbfb7108a461ca14ad7dea58665f9

pkgname = kwin-scripts-fluid-tile
